@mixin ellipsis() {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  word-wrap: break-word;
}

@mixin isFixed($position: top, $y: 0, $z-index: 1) {
  @if $position == top {
    top: $y;
  } @else if $position == bottom {
    bottom: $y;
  }
  position: fixed !important;
  left: 0;
  z-index: $z-index;
}

@mixin disabledColor() {
  background: #e7e7e7 !important;
  color: #aeaeae !important;
  border-color: transparent !important;
}

@mixin border-1px($position: bottom, $color: $seg-line-color) {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    @if $position == top {
      left: 0;
      top: 0;
    } @else if $position == bottom {
      left: 0;
      bottom: 0;
    }
    border-top: 1px solid $color;
    width: 100%;
    content: ' ';
    @media (-webkit-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
    @media (-webkit-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    @media (-webkit-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      -webkit-transform: scaleY(0.33);
      transform: scaleY(0.33);
    }
  }
}
