$seg-line-color: #e6e6e6;

$font-color-0: #000000;
$font-color-3: #333333;
$font-color-6: #666666;
$font-color-9: #999999;
$font-color-c: #cccccc;
$font-color-f: #ffffff;

$color-orange: orange;
$color-red: red;
$color-blue: blue;
$color-yellow: yellow;
$color-green: green;
$color-main: #ff6e56;
$color-bg: #f5f5f5;


